#!/bin/sh

echo "[DEBUG] run.config running at $(date)" >> /var/log/mounted-for-postfix/postfix_start.log
echo "${MAILNAME}	pseudonym-forwarder:" > /etc/postfix/transport

# Create a file with only the needed environment vars
cat > /etc/postfix/script_env <<EOF
RDBMS_USER=${RDBMS_USER}
RDBMS_PASSWORD=${RDBMS_PASSWORD}
RDBMS_DATABASE=${RDBMS_DATABASE}
RDBMS_HOST=${RDBMS_HOST}
EOF
chown nobody:nogroup /etc/postfix/script_env
chmod 640 /etc/postfix/script_env

touch /var/log/mounted-for-postfix/forward.log
chown nobody:nogroup /var/log/mounted-for-postfix/forward.log
chmod 640 /var/log/mounted-for-postfix/forward.log


# Set all Postfix configuration options using postconf
postconf -e "myhostname = ${MAILNAME}"
#Todo: see if we need \$myhostname
postconf -e "mydestination = ${MAILNAME}, \$myhostname, localhost.localdomain, localhost"
postconf -e "transport_maps = hash:/etc/postfix/transport"
postconf -e "recipient_delimiter = +"

#Todo: Change the next few for a save version!?
#mynetworks = 0.0.0.0/0 was before unsafe.
postconf -e "mynetworks = 172.18.0.0/16, 127.0.0.0/8, [::1]/128 "
postconf -e "inet_interfaces = all"
postconf -e "inet_protocols = ipv4"
postconf -e "local_recipient_maps ="
#postconf -e "smtpd_recipient_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination"
postconf -e "smtpd_recipient_restrictions = permit_mynetworks, reject_unauth_destination"

#postconf -e "smtpd_client_restrictions = permit_sasl_authenticated, permit_mynetworks, reject"
postconf -e "smtpd_client_restrictions = permit"
#postconf -e "smtpd_sasl_auth_enable=yes"

#smtpd_helo_required = yes
#smtpd_helo_restrictions = reject_invalid_helo_hostname

#SSL
postconf -e "smtpd_tls_cert_file = /etc/letsencrypt/live/${MAILNAME}/fullchain.pem"
postconf -e "smtpd_tls_key_file = /etc/letsencrypt/live/${MAILNAME}/privkey.pem"
postconf -e "smtpd_use_tls = yes"
postconf -e "smtpd_tls_security_level = may"
postconf -e "smtpd_tls_auth_only = no"

#Diasable TLS 1.0 and 1.1
# Require at least TLS 1.2
postconf -e "smtpd_tls_mandatory_protocols=!SSLv2,!SSLv3,!TLSv1,!TLSv1.1"
postconf -e "smtp_tls_mandatory_protocols=!SSLv2,!SSLv3,!TLSv1,!TLSv1.1"

# Also apply for opportunistic TLS
postconf -e "smtpd_tls_protocols=!SSLv2,!SSLv3,!TLSv1,!TLSv1.1"
postconf -e "smtp_tls_protocols=!SSLv2,!SSLv3,!TLSv1,!TLSv1.1"

#Todo: Remove when we have the correct DNS entries etc. to send mails directly
#      Alt: make configurable
#postconf -e "relayhost = [sandbox.smtp.mailtrap.io]:587"
#postconf -e "smtp_sasl_auth_enable = yes"
#postconf -e "smtp_sasl_password_maps = static:9b303c743680b8:a11588ed0c2540"

# Optional: redirect log output to stdout
postconf -e "maillog_file = /dev/stdout"

# Compile transport map
postmap /etc/postfix/transport

echo "[DEBUG] run.config finished at $(date)" >> /var/log/mounted-for-postfix/postfix_start.log